/* Kaiser, Christopher : Assignment 10.2 css */

body {
    font-family: 'Open Sans Extra Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfd0cd;
}

.header, .navbar, .content-container {
    margin: 20px;
    background-color: #FFC107;
    padding: 20px;
    min-width: 320px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 0;
}

.navbar a {
    padding: 10px 20px;
    width: 100px;
    background-color: #007BFF;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 30px; 
    text-align: center;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #005BDF;
}

/* Main Container*/

.content-container .inner-content {
    background-color: #cfd0cd;
    padding: 20px;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Inner Containers*/

.inner-content {
    display: block;
    min-width: 1500px;
    max-width: 100%;
}

.inner-content.bio-info {
    display: flex;
    align-items: center;
    min-width: 1500px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-info {
    display: flex;
    align-items: center;
    min-width: 500px;
}


/* Text Containers */

.text-box {
    background-color: #FFC107;
    border-radius: 30px;
    padding: 20px;
    min-width: 500px;
    max-width: 1000px;
    max-width: 100%;
    margin: 0 auto; 
    overflow-x: auto;
    margin-bottom: 20px;
}


.text-box.hobbies {
    max-width: 800px;
}


.centered-text {
    display: block;
    text-align: center;
}


/* Fonts / Styles */

h1 {
    color: #ffffff;
    font-size: 32px;
}

h2 {
    color: #ffffff;
    font-size: 22px;
}

h3 {
    color: #000000;
    font-size: 24px;
}

h4 {
    color: #000000;
    font-size: 20px;
}

.inner-header {
    background-color: #007BFF;
    width: 1000px;
    max-width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-header h1 {
    color: #ffffff;
    font-size: clamp(14px, 6vw, 64px);
}


/* Images */

img {
    width: 500px;
    height: 500px;
    margin: 0 40px;
    max-width: 100%; 
    height: auto;
    box-sizing: border-box;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}


.bio-info img {
    width: 500px; 
    height: 500px;
    margin-right: 20px; 
}

figcaption {
    text-align: center;
    font-size: 16px;
    color: #555; 
    margin-top: 10px;
}


/* Buttons */

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #005BDF;
}
